/* begin Page */

/* Created by Artisteer v3.0.0.35414 */

#page-background-glare-image
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/page_gl.png',sizingMethod='crop')");
  zoom: 1;
}





img
{
  filter: expression(artFixPNG(this));
}

/* end Page */

/* begin Box, Sheet */
.sheet, .sheet-body
{
  zoom: 1;
}

.sheet-tr, .sheet-tl, .sheet-br, .sheet-bl, .sheet-tc, .sheet-bc,.sheet-cr, .sheet-cl
{
  font-size: 1px;
  background: none;
}

.sheet-tr, .sheet-tl, .sheet-br, .sheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_s.png',sizingMethod='scale')");
}

.sheet-tl
{
  clip: rect(auto 18px 18px auto);
}

.sheet-tr
{
  left:expression(this.parentNode.offsetWidth-36+'px');
  clip: rect(auto auto 18px 18px);
}

.sheet-bl
{
  top: expression(this.parentNode.offsetHeight-36+'px');
  clip: rect(18px 18px auto auto);
}

.sheet-br
{
  top: expression(this.parentNode.offsetHeight-36+'px');
  left:expression(this.parentNode.offsetWidth-36+'px');
  clip: rect(18px auto auto 18px);
}

.sheet-tc, .sheet-bc
{
  width: expression(this.parentNode.offsetWidth-36+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_h.png',sizingMethod='scale')");
}

.sheet-tc
{
  clip: rect(auto auto 18px auto);
}

.sheet-bc
{
  top: expression(this.parentNode.offsetHeight-36+'px');
  clip: rect(18px auto auto auto);
}

.sheet-cr, .sheet-cl
{
  height: expression(this.parentNode.offsetHeight-36+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_v.png',sizingMethod='scale')");
}

.sheet-cr
{
  left:expression(this.parentNode.offsetWidth-36+'px');
  clip: rect(auto auto auto 18px);
}

.sheet-cl
{
  clip: rect(auto 18px auto auto);
}

.sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-36+'px');
  height: expression(this.parentNode.offsetHeight-36+'px');
  background-color: #F9FAFB;
}
#page-background-top-texture, #page-background-middle-texture, #page-background-glare
{
  width: expression(document.body.clientWidth>800px?"100%":"800px");
}

/* end Box, Sheet */

/* begin Header */
div.header-png
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/header.png',sizingMethod='crop')");
}
/* end Header */

/* begin Menu */
.menu ul
{
  width: 1px;
  height: 1%;
}

.menu li.menuhover
{

  z-index: 10000;
}

.menu .menuhoverUL
{


  visibility: visible;
  top: 100%;
  left: 0;
}



.menu .menuhoverUL .menuhoverUL
{


  top: 0;
  left: 100%;
}





.menu, .menu ul a
{
  height: 1%;
}










.menu li li
{
  float: left;
  width: 100%;
}

.nav
{
  zoom: 1;
  height: 38px;
}

.nav-l, .nav-r
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.nav-l
{
  width: expression(this.parentNode.offsetWidth-5+'px');
}

.nav-r
{
  left: expression(this.parentNode.offsetWidth-792+'px');
  clip: rect(auto auto auto 787px);
}

/* end Menu */

/* begin MenuItem */
.menu a
{
  float: left;
}

.menu a:hover
{
  visibility: visible;
}

.menu a .r, .menu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuitem.png',sizingMethod='crop')");
}

.menu a .r
{
  left:100%;
  margin-left:-408px;
  clip: rect(auto auto auto 404px);
}

.menu a .l
{
  width: expression(this.parentNode.offsetWidth-4+'px');
}

.menuhover .menuhoverA .t
{
  color: #7F5305;
}

.menuhover .menuhoverA .l, .menuhover .menuhoverA .r
{
  top: -26px;
}
/* end MenuItem */

/* begin MenuSeparator */
.nav .menu-separator
{
  font-size: 1px;
  zoom: 1;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuseparator.png',sizingMethod='crop')");
}

/* end MenuSeparator */

/* begin MenuSubItem */
.menu ul a
{
  color: #872F03 !important;
}

.menu ul a:hover {
  color: #000000 !important;
}	

.menu ul .menuhover .menuhoverA
{
  color: #000000 !important;
  border-color: #FB722D;
  background-position: 0 -26px;
}

.nav .menu ul a:hover span, .nav .menu ul a:hover span span
{
  color: #000000 !important;
}	

.nav .menu ul .menuhover .menuhoverA span, .nav .menu ul .menuhover .menuhoverA span span
{
  color: #000000 !important;
}

/* end MenuSubItem */

/* begin Layout */
.content-layout, .content-layout-row {display: block;}
.content-layout, .content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.vmenublock, .vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.vmenublockheader
{
  zoom: 1;

}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent, .vmenublockcontent-body
{
  zoom: 1;
}
.vmenublockcontent, .vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.vmenu .vmenu-separator, ul.vmenu .vmenu-separator-span, ul.vmenu li.vsubmenu-separator, ul.vmenu .vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

ul.vmenu a:hover
{
  visibility: visible;
}

ul.vmenu li
{
  zoom:1;
}

ul.vmenu a .r, ul.vmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenuitem.png',sizingMethod='crop')");
}

ul.vmenu a .r
{
  left:expression(this.parentNode.offsetWidth-800+'px');
  clip: rect(auto auto auto 796px);
}

ul.vmenu a .l
{
  width: expression(this.parentNode.offsetWidth-4+'px');
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul a
{
  color: #214559 !important;
  position: relative;
  zoom: 1;
}
ul.vmenu ul li{
  position: relative;
  zoom: 1;
}

ul.vmenu ul a.active
{
  color: #151C23 !important;
}

ul.vmenu ul a:hover {
  color: #1B242D !important;
}	

ul.vmenu ul a:hover span, ul.vmenu ul a:hover span span
{
  color: #1B242D !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.block, .block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader
{
  zoom: 1;

}

/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent, .blockcontent-body
{
  zoom: 1;
}
.blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.button-wrapper, .button-wrapper .button-l, .button-wrapper .button-r
{
  zoom: 1;
}

.button-wrapper .button
{
  float: left;
}

.button-wrapper .button-l, .button-wrapper .button-r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.button-wrapper .button-r
{
  left:expression(this.parentNode.offsetWidth-409+'px');
  clip: rect(auto auto auto 399px);
}

.button-wrapper .button-l
{
  width: expression(this.parentNode.offsetWidth-10+'px');
}
/* end Button */

/* begin Box, Post */
.post, .post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostQuote */
.postcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.footer, .footer-body
{
  zoom:1;
}

.footer-text
{
  height: 33px;
}

.footer-b 
{
  top: expression(this.parentNode.offsetHeight-5+'px');
  width: expression(this.parentNode.offsetWidth-10+'px');
  zoom: 1;
  font-size: 1px;
}

.footer-r, .footer-l
{
  top: expression(this.parentNode.offsetHeight-5+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/footer_s.png',sizingMethod='crop')");
  zoom: 1;
  font-size: 1px;
}

.footer-r
{
  left: expression(this.parentNode.offsetWidth-10+'px');
  clip: rect(auto auto auto 5px);
}



.footer-t
{
  zoom: 1;
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-5+'px');
  width: 100%;
}

.rss-tag-icon
{
  zoom: 1;
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/rssicon.png',sizingMethod='crop')");
}

/* end Footer */

/* begin LayoutCell, content */

.content {width: auto;}
.content-layout .layout-cell, .content-layout .layout-cell .content-layout .layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.content-layout .layout-cell, .content-layout .layout-cell .content-layout .layout-cell {zoom:1;}

/* end LayoutCell, content */



.commentlist, .commentlist li
{
  behavior: none;
}
