/* begin Page */

/* Created by Artisteer v3.0.0.35414 */






img
{
  filter: expression(artFixPNG(this));
}

/* end Page */

/* begin Box, Sheet */
.sheet, .sheet-body
{
  zoom: 1;
}
.sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
  background-color: #F9FAFB;
}
#page-background-top-texture, #page-background-middle-texture, #page-background-glare
{
  width: expression(document.body.clientWidth>600px?"100%":"600px");
}

/* end Box, Sheet */

/* begin Menu */
.menu ul
{
  width: 1px;
  height: 1%;
}

.menu li.menuhover
{

  z-index: 10000;
}

.menu .menuhoverUL
{


  visibility: visible;
  top: 100%;
  left: 0;
}



.menu .menuhoverUL .menuhoverUL
{


  top: 0;
  left: 100%;
}





.menu, .menu ul a
{
  height: 1%;
}










.menu li li
{
  float: left;
  width: 100%;
}

.nav
{
  zoom: 1;
  height: 39px;
}

.nav-l, .nav-r
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.nav-l
{
  width: expression(this.parentNode.offsetWidth-0+'px');
}

.nav-r
{
  left: expression(this.parentNode.offsetWidth-600+'px');
  clip: rect(auto auto auto 600px);
}

/* end Menu */

/* begin MenuItem */
.menu a
{
  float: left;
}

.menu a:hover
{
  visibility: visible;
}

.menu a .r, .menu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuitem.png',sizingMethod='crop')");
}

.menu a .r
{
  left:100%;
  margin-left:-408px;
  clip: rect(auto auto auto 404px);
}

.menu a .l
{
  width: expression(this.parentNode.offsetWidth-4+'px');
}

.menuhover .menuhoverA .t
{
  color: #7F5305;
}

.menuhover .menuhoverA .l, .menuhover .menuhoverA .r
{
  top: -27px;
}
/* end MenuItem */

/* begin MenuSeparator */
.nav .menu-separator
{
  font-size: 1px;
  zoom: 1;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuseparator.png',sizingMethod='crop')");
}

/* end MenuSeparator */

/* begin MenuSubItem */
.menu ul a
{
  color: #872F03 !important;
}

.menu ul a:hover {
  color: #000000 !important;
}	

.menu ul .menuhover .menuhoverA
{
  color: #000000 !important;
  border-color: #FB722D;
  background-position: 0 -26px;
}

.nav .menu ul a:hover span, .nav .menu ul a:hover span span
{
  color: #000000 !important;
}	

.nav .menu ul .menuhover .menuhoverA span, .nav .menu ul .menuhover .menuhoverA span span
{
  color: #000000 !important;
}

/* end MenuSubItem */

/* begin Layout */
.content-layout, .content-layout-row {display: block;}
.content-layout, .content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block */
.block, .block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader
{
  zoom: 1;

}

/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent, .blockcontent-body
{
  zoom: 1;
}
.blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.button-wrapper, .button-wrapper .button-l, .button-wrapper .button-r
{
  zoom: 1;
}

.button-wrapper .button
{
  float: left;
}

.button-wrapper .button-l, .button-wrapper .button-r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.button-wrapper .button-r
{
  left:expression(this.parentNode.offsetWidth-407+'px');
  clip: rect(auto auto auto 404px);
}

.button-wrapper .button-l
{
  width: expression(this.parentNode.offsetWidth-3+'px');
}
/* end Button */

/* begin Box, Post */
.post, .post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin Footer */
.footer, .footer-body
{
  zoom:1;
}






.footer-t
{
  zoom: 1;
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-0+'px');
  width: 100%;
}


/* end Footer */

/* begin LayoutCell, content */

.content {width: auto;}
.content-layout .layout-cell, .content-layout .layout-cell .content-layout .layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.content-layout .layout-cell, .content-layout .layout-cell .content-layout .layout-cell {zoom:1;}

.content-layout .content .block
{
  background-color: #FFFFFF;
}
/* end LayoutCell, content */



.commentlist, .commentlist li
{
  behavior: none;
}
